.search-input {
  position: relative;

  &__icon {
    position: absolute;
    font-size: 32px;
    left: 30px;
  }

  &__input {
    width: 450px;
    line-height: 56px;
    border-radius: 3em;
    outline: none;
    border: none;
    box-shadow: 0 4px 10px $color-gray-2;
    padding: 10px 0 10px 75px;
    font-size: 22px;
  }
}