//theme
$color-green-1: #d9ed92;
$color-green-2: #b5e48c;
$color-green-3: #99d98c;
$color-green-4: #76c893;
$color-green-5: #52b69a;
$color-blue-1: #34a0a4;
$color-blue-2: #168AAD;
$color-blue-3: #1A759F;
$color-blue-4: #1E6091;
$color-blue-5: #184E77;

$color-off-white: #f8f9faff;
$color-off-white-2: #e9ecefff;
$color-gray-1: #dee2e6ff;
$color-gray-2: #ced4daff;
$color-gray-3: #adb5bdff;
$color-gray-4: #6c757dff;
$color-gray-5: #495057ff;
$color-black: #343a40ff;
$color-tru-black: #212529ff;

//utils. 
$color-blood: #6E1423;
$color-ruby: #C71F37;
$color-scarlett: #E01E37;

$color-trees: #008000;
$color-leaves: #2AA10F;
$color-stem: #38B000;

$color-orange: #F98404;
$color-tangy-mustard: #FFA200;
$color-sunflower: #FFC300;

$color-pthelo-blue: #0062FF;
$color-seas: #00A2FF;
$color-skies: #00CCFF;