.c-text-primary {
	color: $color-gray-5;
	stroke: $color-gray-5 !important;
}

.c-secondary {
	color: $color-green-4;
	stroke: $color-green-4 !important;
}

.c-accent {
	color: $color-green-2;
	stroke: $color-green-2 !important;

}

.c-success {
	color: $color-trees;
	stroke: $color-trees !important;

}
.c-info {
	color: $color-seas;
	stroke: $color-seas !important;
}
.c-warning {
	color: $color-tangy-mustard;
	stroke: $color-tangy-mustard !important;

}

.c-danger {
	color: $color-scarlett;
	stroke: $color-scarlett !important;
}

