@import './reset';
@import './fonts';
@import './layout';
@import './defaultColors';

* {
  box-sizing: border-box;
}

html {
    font: 16px "Montserrat", serif;
    color: $color-gray-5;
}

a {
    text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  font-weight: bold;
}

h4 {
  font-size: 22px;
  font-weight: bold;
}

hr {
  border:none;
  background-color: $color-gray-2;
  height: 2px;
}

input {
  background-color: transparent;
  border-style: none;

  &:focus {
    outline: none;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

}
